@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:root {
  --text-color-light: #242424;
  --background-color-light: rgba(255, 255, 255, 0.87);
  --link-color-light: #646cff;
  --link-hover-color-light: #535bf2;
  --button-bg-color-light: #1a1a1a;
}

:root {
  --text-color-dark: #213547;
  --background-color-dark: #ffffff;
  --link-color-dark: #747bff;
  --link-hover-color-dark: #747bff;
  --button-bg-color-dark: #f9f9f9;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color-light);
  background-color: var(--background-color-light);
}

a {
  font-weight: 500;
  color: var(--link-color-light);
  text-decoration: inherit;
}

a:hover {
  color: var(--link-hover-color-light);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color-light);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: var(--link-color-light);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    background-color: var(--background-color-dark);
  }

  a:hover {
    color: var(--link-hover-color-dark);
  }

  button {
    background-color: var(--button-bg-color-dark);
  }
}

thead {
  background: #29163a;
}
table {
  border-collapse: separate;
}
.datatable-wrapper {
  color: white;
}
.datatable-selector,
.datatable-input {
  background-color: #29163a;
  border-radius: 12px;
  margin: 0px 10px 0px 0px;
}
